@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

/*************************Reset********************************/
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

/*****************************Header*****************************/
header{
    /*position: fixed;*/
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top : 0;
}

#spotify-logo{
    height: 50px;    
    margin: 15px 15px 15px;
}

#nav-list{
    list-style: none;    
    display: flex;
    flex-direction: row; 
}

#nav-list a{
    color: #1A1A1A;
    text-decoration: none;
    margin : 5px 20px;
}

/*****************************section1*****************************/

#img-intro{
    width:100%;
    height: 100%;
    background-image: url("/images/landing.jpg");
    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    height : 650px;
    padding-top : 50px;  
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 60px;
    margin-bottom: 10px;
}

#img-intro p{
    color: white;
    width: 600px;     
}

/*****************************section2*****************************/
#spotify-content{
    height: 55vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#spotify-content h2{
    color: black;
    font-size: 25px;
    text-align: center;
    text-decoration: underline 3px #00B172;
    text-underline-offset: 10px;
    margin-bottom: 45px;
}

#box-all-content > div > img {
    height: 5em;
}

/*Positionnement des 3 boxes séparée*/
.box-content{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-content :nth-child(n){    
    margin-bottom:20px;
}

/*Positionnement de l'ensemble des 3 boxes*/
#box-all-content{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

#spotify-content h3{
    color: #1AB26B;
}

.box-content p{
    color: black;
}

/*****************************footer*****************************/

footer{
    /*position: absolute;
    right: 25px;
    left: 25px;
    bottom: 1px;
    width: 95%;*/
    height: 78vh;
    margin : 0px 25px 25px;
    background-color:#1AB26B;
    display: flex;
    flex-direction: row;
    align-items:center;
    background-image: url("/images/spotify-icon-white.png");
    background-position : center;
    background-repeat : no-repeat;
    background-size : 10%;
}

footer h2, h3, p{
    color: white;
}

footer h2{
    text-decoration: underline 3px white;    
    text-underline-offset: 10px;
}

#global-footer-text{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    margin: 5%;
}

.footer-block{
    width: 60%;
}

.footer-block h3{
    margin-top : 20px;
}

#kayne-west{
    height: 450px;
    margin-top: 25px;
    margin-right: 10% ;
}






